body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

main {
    margin-left: 0;
    margin-right: 0;
}

/* Buttons */

button {
    width: 298px;
    height: 54px;
    color: #FFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #E47209;
}

button:active {
    background: #4B9200;
}

.rounded {
    border-radius: 25px;
}

/* Header */

header {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #000;
    left: 0px;
    right: 0px;
}

.logo-header {
    position: absolute;
    width: 82px;
    height: 52px;
    left: 150px;
    top: 14px;
}

.navbar {
    position: absolute;
    left: 250px;
    height: inherit;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.navbar ul li a {
    margin: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
    text-decoration: none;
}

.navbar ul li a.active {
    color: #F9804B;
}

.designed {
    position: absolute;
    right: 15%;
    width: 150px;
    height: inherit;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.designed::after {
    content: "\00a9";
    display: inline;
    margin-left: 5px;
}

.designed a {
    text-decoration: none;
    color: #FFF;
}

/* Watch block */

.watch-block {
    width: 100%;
    height: 750px;
    background-image: url(../../assets/images/fox-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.orange-circle {
    position: absolute;
    border-radius: 50%;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 100px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
}

.watch-text {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 70px;
}

.watch-text p {
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.yellow-text {
    color: #FFEE2E
}

.watch-btn {
    position: absolute;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
}

/* Backstage */

#backstage {
    width: 100%;
    height: 500px;
}

.backstage-block {
    width: 1160px;
    height: 400px;
    margin: 130px auto;
    display: flex;
}

.backstage-text {
    padding: 0px 0px 0px 60px;
}

.backstage-text h2 {
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}

.backstage-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.backstage-text h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 250%;
    color: #333B41;
}

/* Animals */

#animals {
    width: 100%;
    height: 1200px;
}

.animals-block {
    width: 1160px;
    height: 1100px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.animals-cards {
    height: inherit;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.profile-card {
    width: 366px;
    height: 426px;
    box-sizing: border-box;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column; */
    background-color: #FFF;
    border: 1px solid #FA6F32;
}

.profile-image {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.profile-image img {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px  4px 0px 0px;
}

.profile-description {
    width: 100%;
    height: 50px;
    background-color: #FFF;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-text {
    max-width: 70%;
}

.profile-text h5 {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 15px;
}

.profile-text p {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    padding-left: 15px;
    margin: 0;
}

.profile-logo {
    padding-top: 10px;
    max-width: 40%;
}

.profile-logo img {
    padding-right: 10px;
    width: 45px;
    height: 45px;
}

.animals-block button {
    margin: 50px auto;
}

.flowers-bg {
    position: absolute;
    right: 0;
    top: 750px;
}

.palm-bg {
    position: relative;
    top: -550px;
    left: -40px;
    overflow: hidden;
    z-index: -1;
}

.single-flower-bg {
    position: absolute;
    top: 2505px;
    right: 0px;
}

/* Feed block */

.feed {
    height: 500px;
    width: 100%;
    background-color:#FFEE2E
}