@import "../main/style.css";

body {
    margin: 0;
    padding: 0;
}



.watch-block-donate {
    width: 100%;
    height: calc(20vw + 150px);
    background-image: url(../../assets/images/Giant-Panda-BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

/* Donate block */

#donate-block {
    padding-top: 50px;
    max-width: 100%;
    height: 1480px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate-text {
    margin: 0px auto;
    width: 1160px;
    max-width: 100vw;
    height: 300px;
}

.donate-text h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}

.donate-text h3.orange {
    padding-top: 20px;
    color: #FE9013;
}

.donate-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.donate-payment {
    width: 1160px;
    max-width: 95%;
    height: 965px;
    margin: 40px auto 0px auto;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
}

.donate-payment-text {
    width: 100%;
    margin: 0px auto;
    padding-top: 1px;
}

.donate-payment-text h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin-bottom: 0;
    margin-right: 7px;
}

.donate-payment-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-left: 94px;
}

/* Panda diet block */

.donate-payment-diet {
    max-width: 875px;
    height: 300px;
    margin: 45px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diet-days {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.diet-days p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333B41;
    padding-right: 15px;
    padding-top: 5px;
}

#days {
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    padding-right: 12px;
    max-height: 85px;
}

.x-icon {
    width: 50px;
    margin-right: 27px;
}

.panda-logo {
    max-width: 50%;
    padding-left: 0px;
    margin-right: 13px;
}

.panda-logo img {
    padding-bottom: 25px;
}

/* Interactive bar */

.donate-payment-bar {
    width: 975px;
    max-width: 84%;
    height: 27px;
    margin: 43px auto 0px auto;
    padding: 1px;
    background-color: #404950;
    border-radius: 3px;
    z-index: -1;
}


.grey-line {
    width: 915px;
    max-width: 100%;
    height: 2px;
    background-color: #72828E;
    margin: 12px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yellow-circle {
    width: 10px;
    height: 10px;
    background-color: #FFEE2E;
    border-radius:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-circle::after {
    content:'';
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 3;
}

.amount-usd {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 975px;
    max-width: 100%;
    height: 60px;
    margin: 0px auto;
}

.amount-usd p {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
    min-width: 80px;
    text-align: center;
}

.donation-amount.initial {
    color: #FE9013;
}


/* Circles */

.dot-circles {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    justify-self: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 2;
}

.circle {
    border-radius: 50%;
    border: 2px solid #FE9013;
    box-sizing: border-box;
}

.circle.outer {
    min-width: 40px;
    min-height: 40px;
    display: flex;
}

.circle.inner {
    min-width: 22px;
    min-height: 22px;
    margin: auto;
}

.hidden {
    display: none;
}

/* Donation form */

.donate-form {
    width: 500px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box {
    width: 268px;
    height: 54px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box img {
    width: 10px;
    height: 20px;
    margin-right: 10px;
}

.donate-form input {
    background-color: transparent;
    border: none;
    height: 54px;
    color: #333B41;
    font-size: 20px;
}

.donate-form input:focus {
    border: 0;
    outline: 0;
}

.radio-input-block {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-top: 23px;
}

input[type='radio'] {
    -webkit-appearance:none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FE9013;
}

input[type='radio']:checked {
    background-color: #4B9200;
    border: none;
}

.radio-selector {
    opacity: 1;
    margin: auto  10px;
}

.radio-input-value {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-input-value label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.donate-form button {
    margin-top: 30px;
    margin-bottom: 15px;
}

footer {
    margin-top: 0;
}

@media all and (max-width: 1200px) {

    #donate-block {
        padding-top: 50px;
        max-width: 100%;
        height: 1360px;
    }

    .donate-payment {
        margin: 40px 22px 0px 22px;
    }

    [data-amount="5000"] {
        display: none;
    }

    [data-usd="5000"] {
        display: none;
    }

    .donate-payment-bar {
        padding-left: 3px;
        padding-right: 3px;
    }

}


@media all and (max-width: 840px) {

    #donate-block {
        padding-top: 10px;
        height: 1320px;
    }

    .donate-text {
        max-width: 95%;
    }

    .donate-text h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 10px;
    }

    .donate-text h3.orange {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        margin-top: 0;
        padding-top: 15px;
    }

    .donate-payment {
        margin: 35px auto 0px auto;
        max-height: 920px;
    }

    .donate-payment h2 {
        margin-top: 28px;
    }

    .donate-payment-text p {
        text-align: center;
        margin: 20px auto;
    }

    .donate-payment-bar {
        margin-top: 20px;
        min-width: 99%;
    }

    [data-amount="2000"] {
        display: none;
    }

    [data-usd="2000"] {
        display: none;
    }

    [data-amount="1000"] {
        display: none;
    }

    [data-usd="1000"] {
        display: none;
    }

    .grey-line {
        min-width: 80%;
        width: 87%;
        margin-left: 30px;
        margin-right: 20px;
    }

    .amount-usd {
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 20px;
        width: 96%;
    }

    .input-box {
        max-width: 180px;
        height: 42px;
    }

    input[type="number"] {
        width: 150px;
    }

    .input-box img {
        margin-right: 50px;
    }

    .radio-input-value:nth-of-type(2) {
        justify-content: flex-start;
        margin-left: 20px;
    }

}

@media all and (max-width: 510px) {
    .watch-block-donate {
        background-size: 250%;
        background-position: -160px;
        background-position-y: -70px;
        height: calc(20vw + 158px);
    }

    #donate-block {
        height: 1130px;
    }

    .donate-payment {
        height: 600px;
    }

    .donate-text {
        height: 470px;
    }

    .donate-text h3.orange {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        padding-top: 35px;
    }

    .donate-text p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        min-width: 97vw;
    }

    /* Donate payment */

    .donate-payment-text h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin-top: 18px;
    }

    .donate-payment-text p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin-top: 10px;
    }

    .donate-payment {
        margin: 20px auto 0px auto;
    }

    .donate-payment-diet {
        margin-top: 0;
        height: 140px;
    }

    .donate-payment-diet p {
        font-weight: 400;
        font-size: 9.02255px;
        line-height: 140%;
        padding: 5  px 0 0 0;
    }

    .diet-days {
        width: 280px;
    }

    .diet-days p {
        padding-right: 0;
    }

    #days {
        font-weight: 500;
        font-size: 40.6015px;
        line-height: 80%;
        padding-right: 5px;
    }

    .panda-logo img {
        width: 160px;
        height: 138px;
    }

    .x-icon img {
        height: 7.89px;
        width: 7.89px;
        padding-bottom: 10px;
    }

    .donate-payment-bar {
        height: 13.5px;
        margin: 0px auto;
        min-width: 92vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .grey-line {
        margin: 0;
    }

    .yellow-circle {
        height: 5px;
        width: 5px;
    }

    .amount-usd {
        width: 100vw;
        padding: 0;
        margin: 0;
        justify-content: space-evenly;
        height: 30px;
    }

    .amount-usd p {
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        min-width: 60px;
        max-width: 50px;
    }

    .dot-circles {
        min-width: 25px;
        min-height: 25px;
    }

    .circle.inner {
        min-width: 14px;
        min-height: 14px;
    }

    .circle.outer {
        min-width: 25px;
        min-height: 25px;
    }

    .donate-form {
        max-width: 90vw;
        margin-top: 15px;
    }

    .donate-form p {
        min-width: 100%;
    }

    .radio-input-block div:nth-of-type(1) {
        padding-left: 18px;
    }
}



